<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.7.10/vue.min.js"
        integrity="sha512-H8u5mlZT1FD7MRlnUsODppkKyk+VEiCmncej8yZW1k/wUT90OQon0F9DSf/2Qh+7L/5UHd+xTLrMszjHEZc2BA=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="js/script.js" defer></script>
    <title>Document</title>
</head>

<body>
    <div id="root">
        <div>
            <h1>{{message}}</h1>
        </div>
        <div>
            <input type="text" v-model="message"> <span>&larr; Insert text here :)</span>
        </div>
        <hr>
        <h2>Bonus!</h2>
        <select v-model="image">
            <option value="img/01.jpg">Lake View</option>
            <option value="img/02.jpg">Lake Town</option>
            <option value="img/03.jpg">London</option>
            <option value="img/04.jpg">Night City</option>
            <option value="img/05.jpg">Seaside</option>
        </select>
        <div>
            <img :src="image" alt="selected-image">
        </div>
    </div>
</body>

</html>